.con h1{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 10px;
  margin-bottom: 40px;
}
.con{
  justify-content: center;
  margin: auto;
  height: 400px;
  width: 500px;
  box-shadow: 5px 5px 10px rgb(50, 230, 224);
}